<p>Multiple Streams</p>

<p>1) Выводить массив последних испускаемых значений их всех 3 потоков когда любой из потоков испускает новое значение.</p>
<p>Начинать выводить значения нужно после того, как все 3 потока испустили хотя бы 1 значение.</p>
<button (click)="run1()">Run 1</button>

<p>2) Вывести последние значения всех 3 потоков когда они завершились.</p>
<button (click)="run2()">Run 2</button>

<p>3) Выводить значения всех 3 потоков когда они все испустили новые значения.</p>
<button (click)="run3()">Run 3</button>