<p>Advanced Single Stream</p>

<p>1) Каждый элемента из потока 1 вывести его несколько раз с задержкой в 200 миллисекунд.</p>
<p>Если первый поток выпускает новое значение, мы должны переключиться на него и продолжать вывод уже нового элемента.</p>
<button (click)="run1()">Run 1</button>

<p>2) Элементы из потока 1 вывести в виде нового поток.</p>
<button (click)="run2()">Run 2</button>

<p>3) Каждый ЧЕТНЫЙ элемент потока 1 вывести 5 раз с интервалом в 300 миллисекунд.</p>
<p>Если первый поток выпускает новое значение, мы должны его проигнорировать, пока не завершиться 2ой поток для предыдущего элемента.</p>
<button (click)="run3()">Run 3</button>

<p>4) Каждый элемент из потока 1 вывести в виде потока, который выводит каждый элемент 5 раз.</p>
<p>Если первый поток выводит новый элемент, вывод потока предыдущего элемента не должен прекращаться до того момента, пока не завершится.</p>
<button (click)="run4()">Run 4</button>
